.cartItem {
  display: flex;
  gap: 36px;
}

.itemImage img {
  width: 100px;
  height: auto;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 230px;
}

.itemTitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}

.itemPrice {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.quantity {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.itemTotal {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.removeBtn {
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 100px;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  text-decoration: none;
  background-color: transparent;
  margin: auto 0px;
  margin-left: auto;
}

.removeBtn:hover {
  border-color: red;
  color: red;
  cursor: pointer;
}

@media (max-width: 750px) {
  .cartItem {
    flex-direction: column;
    gap: 22px;
    position: relative;
  }

  .removeBtn {
    position: absolute;
    right: 0;
    padding: 2px 15px;
  }
}
