.header {
  height: 50vh;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  color: #fff;
}

.header .headerTitle {
  font-size: 60px;
  margin-bottom: 4px;
}

.header p {
  margin-bottom: 10px;
}

.header button {
  padding: 2px 15px;
  background-color: white;
  border: 1px solid white;
  color: #000;
  border-radius: 100px;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.header button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
