.newArrivalsSection {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  & h2 {
    font-size: 60px;
    font-weight: 900;
    /* margin-top: 6rem; */
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.newArrivalsList {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 16px;
  align-items: center;
  /* justify-content: center; */
}

.viewAllLink {
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  padding: 0.75rem 2rem;
  background-color: black;
  color: white;
  margin: 60px auto;
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .viewAllLink {
    background-color: white;
    color: black;
  }
}

@media (max-width: 750px) {
  .newArrivalsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .newArrivalsList li {
    justify-self: center;
  }
}
