.sectionCard {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--highlight-color);
  min-height: 230px;
  padding: 5px;
}

p.cardTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

p.cardDetails {
  font-size: 12px;
  margin-bottom: 1.2vw;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  text-align: center;
}
