@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  font-family: "Helvetica Neue", Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-grey: #393646;
  --medium-grey: #4f4557;
  --light-grey: #6d5d6e;
  --highlight-color: #f4eee0;

  --font-primary: "Helvetica Neue", Helvetica;
  --font-secondary: "Roboto Mono", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
